<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Update Cost</h1>
    <form class="" action="/updateDay" method="post">
      <input type="hidden" name="id" value="<%=day._id%>">
      <label for="">PerDay:</label>
      <input type="text" name="perday" value="<%=day.perday%>"><p>
      <label for="">Income:</label>
      <input type="text" name="income" value="<%=day.income%>"><p>
      <input type="submit" name="btn1" value="Update">
      <input type="button" name="btn2" value="Cancel" onclick="re()">
    </form>
  </body>
  <script type="text/javascript">
    function re(){
      location.href="/returnCostDay";
    }
  </script>
</html>
