<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/addPrintData" method="post">
      <label for="">Name:</label>
      <input type="text" name="name" value=""><p>
      <label for="">Amount:</label>
      <input type="text" name="amount" value=""><p>
      <input type="submit" name="submit" value="Submit">
      <input type="button" name="btn" value="Cancel" onclick="go()">
    </form>
  </body>
  <script type="text/javascript">
    function go(){
      location.href="/addPrintData"
    }
  </script>
</html>
