<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Medicine Form</h1>
    <form class="" action="/addMedicineInfo" method="post">
      <label for="">Medicine Name:</label>
      <input type="text" name="name" value=""><p>
      <label for="">Treat:</label>
      <input type="text" name="treat" value=""><p>
      <label for="">Price:</label>
      <input type="text" name="price" value=""><p>
      <input type="submit" name="btn1" value="Submit">
      <input type="button" name="btn2" value="Cancel" onclick="remove();">
    </form>
  </body>
  <script type="text/javascript">
    function remove(){
      location.href="/addMedicine";
    }
  </script>
</html>
