<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Medicine Table</h1>
      <div style="max-height: 200px;overflow:auto;max-width: 600px;">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Photo</th>
              
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<data.length; i++){ %>
              <tr>
             
                <td><%= data[i].name %></td>
                <td><%= data[i].photo %></td>
              
              </tr>
            <% } %>
          </tbody>
        </table>
  </div>
  </body>
  
</html>
