<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Reception Form</h1>
    <form class="" action="/addActiveDoctor" method="post">
      <label for="">Doctor:</label>
      <input type="text" name="doctor" value=""><p>
      <label for="">Active:</label>
      <input type="text" name="active" value=""><p>

      <input type="submit" name="btn" value="Submit">
      <input type="button" name="btn" value="Cancel" onclick="can();">
    </form>
  </body>
<script type="text/javascript">
   function can() {
     location.href="/activeDoctor";
   }
</script>
</html>
