<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Doctor Update</h1>
    <form class="" action="/updateDataActiveDoctor" method="post">
     <input type="hidden" name="id" value="<%=doc._id%>">
      <label for="">Doctor:</label>
      <input type="text" name="doctor" value="<%=doc.doctor %>"><p>
      <label for="">Active:</label>
      <input type="text" name="active" value="<%=doc.active %>"><p>
      <input type="submit" name="btn" value="Update">
      <input type="button" name="btn" value="Cancel" onclick="go();">
    </form>
  </body>
  <script type="text/javascript">
    function go() {
      location.href="/returnDataActiveDoctor";
    }
  </script>
</html>
