<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/vendor/vector-map/jqvmap.css">
    <link href="assets/vendor/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/daterangepicker/daterangepicker.css" />
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
    <link rel="stylesheet" href="colorlib-regform-17/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">


    <!-- STYLE CSS -->

    <link rel="stylesheet" href="colorlib-regform-17/css/style.css">
</head>
<style type="text/css">
        #color{background-color: orange;
                height: 100%;}
                #icon{margin-left: 60px;
                    margin-bottom: 50px;}
                    #bt
                    {
                        border-radius: 30px;
                        box-shadow:5px 5px 3px;
                    }
                  img{
                      margin-top: 10px;
                      width: 400px;
                      height: 280px;
                  }
                  #con
                  {
                      padding-top: 40px;
                      padding-left: 100px;
                  }

    </style>
<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <div class="dashboard-header">
                <nav class="navbar navbar-expand-lg bg-white fixed-top">
                    <a class="navbar-brand" href="index.html">
                    Clinic Management System</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-right-top">
                            <li class="nav-item">
                                <div id="custom-search" class="top-search-bar">
                                    <input class="form-control" type="text" placeholder="Search..">
                                </div>
                            </li>
                            <li class="nav-item dropdown notification">
                                <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                    <li>
                                        <div class="notification-title"> Notification</div>
                                        <div class="notification-list">
                                            <div class="list-group">
                                                <a href="#" class="list-group-item list-group-item-action active">
                                                    <div class="notification-info">
                                                        <div class="notification-list-user-img"><img src="assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                        <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                            <div class="notification-date">2 min ago</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="#" class="list-group-item list-group-item-action">
                                                    <div class="notification-info">
                                                        <div class="notification-list-user-img"><img src="assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                        <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                            <div class="notification-date">2 days ago</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="#" class="list-group-item list-group-item-action">
                                                    <div class="notification-info">
                                                        <div class="notification-list-user-img"><img src="assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                        <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                            <div class="notification-date">2 min ago</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="#" class="list-group-item list-group-item-action">
                                                    <div class="notification-info">
                                                        <div class="notification-list-user-img"><img src="assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                        <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                            <div class="notification-date">2 min ago</div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-footer"> <a href="#">View all notifications</a></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown connection">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                    <li class="connection-list">
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                <a href="#" class="connection-item"><img src="assets/images/github.png" alt="" > <span>Github</span></a>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                <a href="#" class="connection-item"><img src="assets/images/dribbble.png" alt="" > <span>Dribbble</span></a>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                <a href="#" class="connection-item"><img src="assets/images/dropbox.png" alt="" > <span>Dropbox</span></a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                <a href="#" class="connection-item"><img src="assets/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                <a href="#" class="connection-item"><img src="assets/images/mail_chimp.png" alt="" ><span>Mail chimp</span></a>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                <a href="#" class="connection-item"><img src="assets/images/slack.png" alt="" > <span>Slack</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="conntection-footer"><a href="#">More</a></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown nav-user">
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                    <div class="nav-user-info">
                                        <h5 class="mb-0 text-white nav-user-name">Clinic Management System </h5>
                                        <span class="status"></span><span class="ml-2">Available</span>
                                    </div>
                                    <a class="dropdown-item" href="log_in_reception.html"><i class="fas fa-user mr-2"></i>Account</a>

                                    <a class="dropdown-item" href="sign_in.html"><i class="fas fa-power-off mr-2"></i>Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
              <!-- ============================================================== -->
              <div class="wrapper" style="background-image: url('images/appoint3.jpg');">
              <div class="nav-left-sidebar sidebar-dark">
                  <div class="menu-list">
                      <nav class="navbar navbar-expand-lg navbar-light">
                          <a class="d-xl-none d-lg-none" href="#">Reception</a>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarNav">
                              <ul class="navbar-nav flex-column">
                                <li class="nav-divider">

                                    Reception Control
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active" href="/patientRegistration" ><i class="fa fa-fw fa-user-circle"></i>Add Patient <span class="badge badge-success">6</span></a>

                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active" href="/token" ><i class="fa fa-fw fa-user-circle"></i>Token <span class="badge badge-success">6</span></a>

                                </li>
                                 <li class="nav-item ">
                                    <a class="nav-link active" href="/viewPrecription" ><i class="fa fa-fw fa-user-circle"></i>View Presciption<span class="badge badge-success">6</span></a>

                                </li>
                                 <li class="nav-item ">
                                    <a class="nav-link active" href="/dischargePatient"><i class="fa fa-fw fa-user-circle"></i>Discharge Patient<span class="badge badge-success">6</span></a>

                                </li>
                                <li class="nav-item ">
                                        <a class="nav-link" href="/appointment"><i class="fa fa-fw fa-user-circle"></i>Add Appointment<span class="badge badge-success">6</span></a>

                                </li>
                                <li class="nav-item ">
                                        <a class="nav-link" href="/viewAppointment"><i class="fa fa-fw fa-user-circle"></i>View Appointment<span class="badge badge-success">6</span></a>

                                </li>
                                    <li class="nav-item ">
                                       <a class="nav-link" href="/changeReceptionPassword"><i class="fa fa-fw fa-user-circle"></i>Change Password <span class="badge badge-success">6</span></a>

                                   </li>




                                <li class="nav-item">
                                    <a class="nav-link" href="/"><i class="fas fa-fw fa-inbox"></i>Log Out <span class="badge badge-secondary">New</span></a>

                                </li>


                              </ul>
                          </div>
                      </nav>
                  </div>
              </div>        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-finance">
                <div id="con" class="container-fluid dashboard-content">

                    <div class="inner" style="width: 1600px;">
                        <div class="container">
                             <div class="row">
                        <div class="image-holder">
                            <img src="image/appoint4.jpg" alt="">
                        </div>
                        <form action="/addReceptionAppointment" method="post" style="margin-top: -30px;">

                            <div class="row">
                            <div class="col-md-12">
                                Name:<input type="text" placeholder="Enter Patient Name" name="name" class="form-control">
                              </div>
                            <div class="col-md-12">
                                Address:<input type="text" placeholder="Enter Address" name="address" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                City:<input type="text" placeholder="Enter City"  name="city" class="form-control">
                            </div>
                            <div class="col-md-12">
                                States:<input type="text" placeholder="Enter Status" name="state" class="form-control">
                            </div>
                        </div>

                    </div>

                <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                            <div class="col-md-3">
                                Primary Phone Number:<input type="text" placeholder="Enter Primary Phone Number" name="primary_ph" class="form-control">
                            </div>
                            <div class="col-md-3">
                                Secondary Phone Number:<input type="text" placeholder="Enter Secondary Phone Number" name="secondary_ph" class="form-control">
                            </div>
                            <div class="col-md-3">
                                    Email:<input type="text" placeholder="Enter Email Address" name="email" class="form-control">
                                </div>
                                <div class="col-md-3">
                                        Appointment Date:<input type="date" placeholder="Enter Date Of Birth"  name="date_of_birth" class="form-control" >
                                    </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                                <div class="row">

                                  <div class="col-md-3">
                                          Treat:<select class="form-control" name="treat"><br>
                                            <option>Hypertenstion</option>
                                            <option>Diabetes</option>
                                            <option>Cancer</option>
                                            <option>Heart Disease</option>
                                            <option>Dental</option>
                                              </select>

                                      </div>
                                            <div class="col-md-3">
                                                    Day:<select class="form-control" id="day"><br>
                                                        <option>Sunday</option>
                                                        <option>Monday</option>
                                                        <option>Tuesday</option>
                                                        <option>Wednesday</option>
                                                        <option>Thursday</option>
                                                        <option>Friday</option>
                                                        <option>Saturday</option>
                                                        </select>

                                            </div>
                                            <div class="col-md-3">
                                                    Doctor:<select class="form-control" name="doctor"><br>
                                                      <% for(var i=0;i<doctor.length;i++) {%>
                                                  <option value="<%=doctor[i]._id %>"><%= doctor[i].name%></option>
                                                    <% }%>
                                                        </select>

                                                </div>
                                            <div class="col-md-3">
                                                    Time:<input type="time" placeholder="Time" class="form-control" name="time">

                                                </div>
                            </div>
                        </div>

                                <div class="col-md-12">
                                <p>How Long has the patient had this problem?</p><br>
                                </div>
                          <br>
                        <div class="col-md-12">
                                <div class="row">
                                        <div class="col-md-6">
                                               Day Treat: <select class="form-control" name="day_treat"><br>

                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                    <option>13</option>
                                                    <option>14</option>
                                                    <option>15</option>
                                                    <option>16</option>
                                                    <option>17</option>
                                                    <option>18</option>
                                                    <option>19</option>
                                                    <option>20</option>
                                                    <option>21</option>
                                                    <option>22</option>
                                                    <option>23</option>
                                                    <option>24</option>
                                                    <option>25</option>
                                                    <option>26</option>
                                                    <option>27</option>
                                                    <option>28</option>
                                                    <option>29</option>
                                                    <option>30</option>
                                                    <option>31</option>
                                                    </select>

                                            </div>
                                            <div class="col-md-6">
                                               Day Types: <select class="form-control" name="day_type"><br>

                                                    <option>Day</option>
                                                    <option>Week</option>
                                                    <option>Month</option>
                                                    <option>Year</option>
                                                    </select>

                                            </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-md-offset-2" style="margin-top: -30px;">
                                <div class="row">
                                        <button class="btn" id="click" onclick="success()" type="submit">Submit
                                                <i class="zmdi zmdi-arrow-right"></i>
                                            </button>

                            </div>
                        </div>



                    </form>
                    </div>
                </div>
            </div>
        </div>

        </div>

        </div>
    </div>



</div>
</div>


</div>

<script type="text/javascript" src="js/jquery.min.js"> </script>

<script>
function result()
{
    alert("Update appointment successful");
}
</script>


<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->

<!-- jquery 3.3.1  -->
<script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- chart chartist js -->
<script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
<script src="assets/vendor/charts/chartist-bundle/Chartistjs.js"></script>
<script src="assets/vendor/charts/chartist-bundle/chartist-plugin-threshold.js"></script>
<!-- chart C3 js -->
<script src="assets/vendor/charts/c3charts/c3.min.js"></script>
<script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<!-- chartjs js -->
<script src="assets/vendor/charts/charts-bundle/Chart.bundle.js"></script>
<script src="assets/vendor/charts/charts-bundle/chartjs.js"></script>
<!-- sparkline js -->
<script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- dashboard finance js -->
<script src="assets/libs/js/dashboard-finance.js"></script>
<!-- main js -->
<script src="assets/libs/js/main-js.js"></script>
<!-- gauge js -->
<script src="assets/vendor/gauge/gauge.min.js"></script>
<!-- morris js -->
<script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="assets/vendor/charts/morris-bundle/morris.js"></script>
<script src="assets/vendor/charts/morris-bundle/morrisjs.html"></script>
<!-- daterangepicker js -->
<script src="../../../../cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="../../../../cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

</body>
<script type="text/javascript">
  function success(){
    alert("Appointment Successfull")
  }
</script>
</html>
