<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Expense</h1>
    <form class="" action="/addExpense" method="post">
      <label for="">Medicine</label>
      <input type="text" name="medicine" value=""><p>
        <label for="">Cost</label>
        <input type="text" name="cost" value=""><p>
          <input type="submit" name="btn" value="Add">
          <input type="button" name="bt_cancle" value="Cnacle" onclick="can()">
        </form>

  </body>
  <script type="text/javascript">
  function can(){
    location.href='/expense'
  }
  </script>
</html>
